<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/Resources/css/home.css">
    <link rel="stylesheet" href="/Resources/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="cartier">
        <div class="header">
            <div class="header-notice">
                <p>Enjoy wrap-gift standard shipping. <span class=""><a class="has-link return-link">Click here to learn more about returns and exchanges.</a></span></p>
            </div>

            <div class="main-header">
                <ul class="nav-left">
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Home</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Contact Us</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Services</a></li>
                </ul>

                <div class="logo">
                    <img class="logo-img" src="/Public/img/Screenshot_2023-10-16_121457-removebg.png" alt="">
                </div>

                <div class="nav-right">
                    <div class="nav-right--item"><i class="fa fa-heart"></i></div>
                    <div class="nav-right--item"><i class="fa fa-user"></i></div>
                    <div class="nav-right--item"><i class="fa fa-cart-plus"></i></div>
                </div>
            </div>

            <div class="sub-navbar">
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
            </div>
        </div>
        <div class="line"></div>
        <!-- header--end -->
        <div class="cart-body">
            <div class="body-left">
                <h3>SHOPPING BAG</h3> <span>(count item)</span>
                <div class="condition-sale">
                    <p>Complimentary exchange or return within 30 days. Read our <a href="">conditions of sales.</a></p>
                </div>

                <!-- product-cart -->

                <div class="cart-container">
                    <div class="cart-item">
                        <img class="cart-item--img" src="/Public/img/h1.webp" alt="">
                        <div class="cart-item--info">
                            <div class="item-heading-price">
                                <h3>TANK MUST WATCH</h3>
                                <h3>$3,350.00</h3>
                            </div>
                            <p>Small model, high autonomy quartz movement, steel</p>
                            <div class="add-list">
                                <a href="">Add another item</a>
                                <a href="">Add another item</a>
                            </div>

                            <div class="add-options">
                                <a href="">Add gift message</a>
                                <a href="">Add engraving</a>
                                <a href="">Add bracelet adjustment</a>
                            </div>

                            <div class="wrap-gift">
                                <input type="checkbox" name="gift-wrap" id=""> <span>Add Gift Wrapping <i class="fa fa-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body-right">

            </div>
        </div>
    </div>
</body>
</html>