<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="cartier">
        <div class="header">
            <div class="header-notice">
                <p>Enjoy wrap-gift standard shipping. <span class=""><a class="has-link return-link">Click here to learn more about returns and exchanges.</a></span></p>
            </div>

            <div class="main-header">
                <ul class="nav-left">
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Home</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Contact Us</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Services</a></li>
                </ul>

                <div class="logo">
                    <img class="logo-img" src="../../Public/img/Screenshot_2023-10-16_121457-removebg.png" alt="">
                </div>

                <div class="nav-right">
                    <div class="nav-right--item">USER  <i class="fa fa-user"></i></div>
                    <div class="nav-right--item"><i class="fa fa-heart"></i></div>
                    <div class="nav-right--item"><i class="fa fa-cart-plus"></i></div>
                </div>
            </div>

            <div class="sub-navbar">
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
            </div>
        </div>
        <div class="line"></div>
        <!-- header--end -->
        <div class="main">
            <div class="slidebar">
                <h3>MY UITER</h3>
                <ul class="menu">
                    <li class="watch-collection--item"><a href="" class="has-link">OVERVIEW</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY PROFILE</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY PASSWORD</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY ORDERS</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY WISH LIST</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY ADDRESSES</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY COLLECTION</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY SUBSCRIPTIONS & INTERESTS</a></li>
                    <li class="watch-collection--item"><button class="menu-bt">LOG OUT</button></li>
                </ul>
            </div>
            <div class="content">
                <div class="address">
                    <img class="pagination-img" src="../../Public/img/leather.png" alt="" >
                    <h3>WELCOME USER</h3>
                    <p>In My Cartier Account you can manage and store the details of your custom shopping experience on the Cartier e-boutique.</p>
                </div>
                <div class="collection">
                    <h3>MY COLLECTION</h3>
                    <p>Join Cartier Care to receive personalized recommendations, services and an extension of the International Limited Warranty of your watch by up to 8 years.</p>
                    <p class="add-address"><a href="" class="has-link">REGISTER A NEW WATCH  <i class="fa fa-arrow-right"></i></a></p>
                </div>
            </div>
        </div>
        <!-- footer start -->
        <div class="footer">
            <ul class="footer-list">
                <li class="footer-list--item"><h3>CUSTOMER CARE</h3></li>
                <li class="footer-list--item">Contact Us</li>
                <li class="footer-list--item">Call Now : 800 227 8437</li>
                <li class="footer-list--item">FAQ</li>
                <li class="footer-list--item"> TRACK YOUR ORDER</li>
            </ul>
            <ul class="footer-list">
                <li class="footer-list--item"><h3>CUSTOMER CARE</h3></li>
                <li class="footer-list--item">Contact Us</li>
                <li class="footer-list--item">Call Now : 800 227 8437</li>
                <li class="footer-list--item">FAQ</li>
                <li class="footer-list--item"> TRACK YOUR ORDER</li>
            </ul>
            <ul class="footer-list">
                <li class="footer-list--item"><h3>CUSTOMER CARE</h3></li>
                <li class="footer-list--item">Contact Us</li>
                <li class="footer-list--item">Call Now : 800 227 8437</li>
                <li class="footer-list--item">FAQ</li>
                <li class="footer-list--item"> TRACK YOUR ORDER</li>
            </ul>
            <div class="footer-list hasnt-flex">
                <h3 class="footer-list--item">FOLLOW US</h3>
                <div class="icon-link">
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-facebook-f"></i></a>
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-youtube-play"></i></a>
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-instagram"></i></a>
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-twitter"></i></a>

                </div>
            </div>
        </div>
        <!-- footer end -->
    </div>
</body>
</html>