<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Resources/css/home.css">
    <link rel="stylesheet" href="/Public/icon/fontawesome-free-6.4.2-web/css/regular.min.css">
</head>
<body>
    <div class="cartier">
        <!-- header start -->
        <div class="header">
            <div class="header-notice">
                <p>Enjoy wrap-gift standard shipping. <span class=""><a class="has-link return-link">Click here to learn more about returns and exchanges.</a></span></p>
            </div>

            <div class="main-header">
                <ul class="nav-left">
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Home</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Contact Us</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Merchant</a></li>
                </ul>

                <div class="logo">
                    <img class="logo-img" src="/Public/img/Screenshot_2023-10-16_121457-removebg.png" alt="">
                </div>

                <div class="nav-right">
                    <div class="nav-right--item"><i class="fa fa-heart"></i></div>
                    <div class="nav-right--item"><i class="fa fa-user"></i></div>
                    <div class="nav-right--item"><i class="fa fa-cart-plus"></i></div>
                </div>
            </div>

            <div class="sub-navbar">
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
            </div>
        </div>
        <!-- header end -->
        <!-- banner start -->
        <div class="banner">
            <div class="banner-img">
                <img class="banner-img-link" src="/Public/img/CARTIER_HAUTEJO_1920x800_HEADER_ALL-WATCHES_V2.webp" alt="">
            </div>
            <div class="banner-introduction">
                <div class="intro-text">
                    <h3>ALL WATCHES</h3>
                    <p class="intro">At UITERs, everything begins with the design. 
                        The Maison’s obsession for pure lines, precise shapes and
                        precious details has led to design objects that defy the decades. 
                        Uncover the watch collections that have become emblems of design at UITERs: Tank, Santos, Panthère, Ballon Bleu and many more.
                    </p>
                </div>
            </div>
        </div>
        <!-- banner end -->
        <!-- main start -->
        <div class="main-content">
            <div class="filter-sort">
                <h4>Sort By</h4>
                <div class="radio-check-container">                
                    <label class="check-label" for="price">
                        <input class="check-js" type="radio" value="low-to-high" name="price" id="">PRICE LOW TO HIGH
                    </label>
                    <label class="check-label" for="price">
                        <input class="check-js" type="radio" value="high-to-low" name="price" id="">PRICE HIGH TO LOW
                    </label>
                    <label class="check-label" for="price">
                        <input class="check-js" type="radio" value="recommended" name="price" id="">RECOMMENDED
                    </label>
                </div>
            </div>
            <!-- item-container -->
            <div class="products">
                <div class="choose-page-container">
                    <div class="counter"><p>*Count item here</p></div>
                    <div class="grid-choice">
                        <button class="grid">Grid <i class="fa fa-windows"></i></button>
                        <button class="feed">Feed <i class="fa fa-window-restore"></i></button  >
                    </div>
                </div>
                <div class="products-container">
                    <!-- item -->
                    <div class="product-object">
                        <img class="object-img" src="/Public/img/h2.webp" alt="">
                        <div class="object-section">
                            <div class= "object-section-info">
                                <a href="" class=" has-link object-info  info-name"> Ronde Must de Cartier watch</a>
                            </div>
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info">45mm, automatic movement, rose gold, leather</a>
                                <h3>$7,199,00</h3>
                            </div>
                        </div>
                        <div class="buy-btn">
                            <a href="" class="discover has-link">Discover</a>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="product-object">
                        <img class="object-img" src="/Public/img/h2.webp" alt="">
                        <div class="object-section">
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info  info-name"> Ronde Must de Cartier watch</a>
                            </div>
                         
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info ">45mm, automatic movement, rose gold, leather</a>
                                <h3>$7,199,00</h3>
                            </div>
                        </div>
                        <div class="buy-btn">
                            <a href="" class="discover has-link">Discover</a>
                        </div>
                    </div>
                    <div class="product-object">
                        <img class="object-img" src="/Public/img/h2.webp" alt="">
                        <div class="object-section">
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info  info-name"> Ronde Must de Cartier watch</a>
                            </div>
                         
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info">45mm, automatic movement, rose gold, leather</a>
                                <h3>$7,199,00</h3>
                            </div>
                        </div>
                        <div class="buy-btn">
                            <a href="" class="discover has-link">Discover</a>
                        </div>
                    </div>
                    <div class="product-object">
                        <img class="object-img" src="/Public/img/h2.webp" alt="">
                        <div class="object-section">
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info  info-name"> Ronde Must de Cartier watch</a>
                            </div>
                         
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info">45mm, automatic movement, rose gold, leather</a>
                                <h3>$7,199,00</h3>
                            </div>
                        </div>
                        <div class="buy-btn">
                            <a href="" class="discover has-link">Discover</a>
                        </div>
                    </div>
                    <div class="product-object">
                        <img class="object-img" src="/Public/img/h2.webp" alt="">
                        <div class="object-section">
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info  info-name"> Ronde Must de Cartier watch</a>
                            </div>
                         
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info">45mm, automatic movement, rose gold, leather</a>
                                <h3>$7,199,00</h3>
                            </div>
                        </div>
                        <div class="buy-btn">
                            <a href="" class="discover has-link">Discover</a>
                        </div>
                    </div>
                    <div class="product-object">
                        <img class="object-img" src="/Public/img/h2.webp" alt="">
                        <div class="object-section">
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info info-name"> Ronde Must de Cartier watch</a>
                            </div>
                         
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info">45mm, automatic movement, rose gold, leather</a>
                            </div>
                        </div>
                        <div class="buy-btn">
                            <a href="" class="discover has-link">Discover</a>
                        </div>
                    </div>
                    <div class="product-object">
                        <img class="object-img" src="/Public/img/h2.webp" alt="">
                        <div class="object-section">
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info info-name"> Ronde Must de Cartier watch</a>
                            </div>
                         
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info">45mm, automatic movement, rose gold, leather</a>
                            </div>
                        </div>
                        <div class="buy-btn">
                            <a href="" class="discover has-link">Discover</a>
                        </div>
                    </div>
                    <div class="product-object">
                        <img class="object-img" src="/Public/img/h2.webp" alt="">
                        <div class="object-section">
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info info-name"> Ronde Must de Cartier watch</a>
                            </div>
                         
                            <div class="object-section-info">
                                <a href="" class=" has-link object-info">45mm, automatic movement, rose gold, leather</a>
                            </div>
                        </div>
                        <div class="buy-btn">
                            <a href="" class="discover has-link">Discover</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="pagination-image">
                    <img class="pagination-img" src="/Public/img/leather.png" alt="">
                </div>
              <!-- pagination start -->
                <ul class="pagination">
                </ul>
            <!-- pagination end -->
        <!-- main end -->
        <div class="space"></div>
        <!-- extra infomation start -->
        <div class="extra-information">
            <div class="complimentary">
                <div class="complimentary-img-container">
                    <img class="complimentary-img " src="/Public/img/Screenshot_2023-10-16_211957-removebg-preview.png" alt="">
                </div>
                <a href="" class="has-link complimentary-text">COMPLIMENTARY DELIVERY</a>
            </div>
            <div class="complimentary">
                <div class="complimentary-img-container">
                    <img class="complimentary-img " src="/Public/img/return.png" alt="">
                </div>
                <a href="" class="has-link complimentary-text">EASY RETURN OR EXCHANGE</a>
            </div>
            <div class="complimentary">
                <div class="complimentary-img-container">
                    <img class="complimentary-img " src="/Public/img/wrap.png" alt="">
                </div>
                <a href="" class="has-link complimentary-text">FREE GIFT WRAPPING</a>
            </div>
        </div>
        <!-- extra infomation start -->

        <div class="space"></div>
        <!-- footer start -->
        <div class="footer">
            <ul class="footer-list">
                <li class="footer-list--item"><h3>CUSTOMER CARE</h3></li>
                <li class="footer-list--item">Contact Us</li>
                <li class="footer-list--item">Call Now : 800 227 8437</li>
                <li class="footer-list--item">FAQ</li>
                <li class="footer-list--item"> TRACK YOUR ORDER</li>
            </ul>
            <ul class="footer-list">
                <li class="footer-list--item"><h3>CUSTOMER CARE</h3></li>
                <li class="footer-list--item">Contact Us</li>
                <li class="footer-list--item">Call Now : 800 227 8437</li>
                <li class="footer-list--item">FAQ</li>
                <li class="footer-list--item"> TRACK YOUR ORDER</li>
            </ul>
            <ul class="footer-list">
                <li class="footer-list--item"><h3>CUSTOMER CARE</h3></li>
                <li class="footer-list--item">Contact Us</li>
                <li class="footer-list--item">Call Now : 800 227 8437</li>
                <li class="footer-list--item">FAQ</li>
                <li class="footer-list--item"> TRACK YOUR ORDER</li>
            </ul>
            <div class="footer-list hasnt-flex">
                <h3 class="footer-list--item">FOLLOW US</h3>
                <div class="icon-link">
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-facebook-f"></i></a>
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-youtube-play"></i></a>
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-instagram"></i></a>
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-twitter"></i></a>

                </div>
            </div>
        </div>
        <!-- footer end -->

    </div>
</body>
<script src="/Resources/javascript/home.js"></script>
</html>