<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Staff</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Logo_UIT_updated.svg/1200px-Logo_UIT_updated.svg.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Resources/css/staff.css">
</head>
<body>
    <div class="cartier">
         <!-- header start -->
        <div class="header">
            <div class="header-left-wrap">
                <div class="logo-merchant">
                    <img class="logo-img" src="/Public/img/staff.png" alt="">
                </div>
                <button class="icon-bars">
                    <img class="bars-img" src="/Public/img/bars.png" alt="">
                </button>
            </div>
            
            <div class="header-right-wrap">
               <p class="email-contact">
                    <i class="fa fa-phone"></i>
                    <span>Email for assistance : 
                        <strong>theuitersmerchant@gmail.com</strong>
                    </span>
               </p>
            </div>
        </div>
        <!-- header end -->

        <div class="main-content">
            <div class="main-left">
                <div class="input-space">
                    <div class="img-btn"><img class="span-search" src="/Public/img/search.png" alt=""></div>
                    <input class="input-box" type="text" placeholder="Typing here ....">
                </div>
                <div class="selection">
                    <div class="select-click active">staff</div>
                    <div class="select-click">Modify product</div>
                    <div class="select-click">Delete product</div>
                    <div class="select-click">Change payment method</div>
                    <div class="select-click">Create new Collection</div>
                </div>
            </div>
            <div class="main-right">
                <div class="select-container active">
                    <h3>tag1</h3>
                </div>
                <div class="select-container">
                    <h3>Modify product</h3>
                </div>
                <div class="select-container">
                    <h3>Delete product</h3>
                </div>
                <div class="select-container">
                    <h3>Change payment method</h3>
                </div>
                <div class="select-container">
                    <h3>Create new Collection</h3>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/Resources/javascript/staff.js"></script>
</html>