@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0px 0;
}
.cartier {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color:white;
    align-items: center;
    padding: 20px 30px;
    /* border-bottom: 1px solid #ddd; */
    box-shadow: inset 0px -20px 17px 9px rgba(0,0,0,.06);
}
.header-left-wrap {
    display: flex;
    align-items: center;
    
}   
.logo-merchant {

}
.logo-img {
    width: 200px;

}
.icon-bars {
    border: none;
    padding: 10px 10px;
    margin: 0 20px;
    cursor: pointer;
    background-color: transparent;
}
.bars-img {
    color: black;
    max-width: 20px;
}
.header-right-wrap {

}
.email-contact .fa {
    font-size: 18px;
}
.email-contact span {
    padding: 0 10px;
}
.main-content {
    display: flex;
}

.main-left {
    /* 70 */
    width: 350px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
}

.input-space {
    margin: 20px 10px;
    display: flex;
    height: 50px;
    justify-content: center;
    position: relative;
}
.input-box {
    width: 250px;
    padding: 0px 10px 0 40px;
    outline: none;
    border: 1px solid #ddd;
}
.input-box::-webkit-outer-spin-button { 
    display: none;
}
.input-box.hidden { 
    display: none;
}
.span-search {
    position: absolute;
    left: 20px;
    padding-top: 10px;
    z-index: 2;
    width: 25px;
}
.selection {
    font-size: 20px;
    line-height: 20px;
}
.selection.hidden { 
    display: none;
}
.select-click {
    padding: 30px 30px;
    cursor: pointer;
    margin: 5px 0;
}
.select-click.active { 
    background-color: #ddd ;
}
.select-click:hover {
    background-color: #ddd;
}
.main-right {
    width: 100%;
    
    background-color: #F2F2F2;
}
.main-right-content {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #666666;
}
.select-container{
    display: none;
   
}
.select-container.active {
    display: block;
}

/* subpage */
.subpage-click {
    position: relative; 
}
.subpage-product-appear, .subpage-human-appear{
    display: none;
    cursor: pointer;
    margin:0;
    line-height: 20px;
    transform: translateY(10px);
}
.subpage-product-item-click, .subpage-human-item-click  {
    padding: 5px ;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #161414;
}

.subpage-product-item-click:hover , .subpage-human-item-click:hover{
    background-color: rgb(99, 93, 91);

}
.subpage-product-item-click:last-child , .subpage-human-item-click:last-child  {
    border: none;
}
.subpage-product-container {
    display: none;
}
.subpage-human-container {
    display: none;
}

.subpage-product-container.click {
    display: block;
    z-index: 1;
}

.subpage-human-container.click {
    display: block;
    z-index: 1;
}

/* account */
.add-account-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */
.product-input-show {
    padding: 10px 10px;
}
.form-container {
    background-color: white;
    /* height: ; */
    margin: 20px;
    padding: 30px 40px;
}
.add-product-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.add-product-right {

}
.heading-add {
    
}
.product-cate-drop {
    position: relative;
    margin-top: 50px;
}
.dropdownbtn {
    font-size: 16px;  
    border: 1px solid #ddd;
    outline: none;
    color: rgb(9, 7, 7);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.cate-dropdown-content {
    text-align: center;
    opacity: 1;
    /* position: absolute;
    left: 0%;
    transition: left 0.5s ease; */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    margin: 0 10px;
    z-index: 1  ;
  }
.cate-dropdown-content-item {
    padding: 5px 10px;
}
.cate-dropdown-content-item:hover {
    background-color: #ddd;
}
.product-cate-drop:hover .cate-dropdown-content{
    opacity: 1;
    left: 50%;
}
.pDescription {
    border-bottom: 2px solid gray;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    position: relative;
    width: 280px;
}
.pDescription::-webkit-input-placeholder    {
    color: #ddd;
    font-size: 16px;
}
.pDescription:placeholder-shown:-webkit-input-placeholder    {
    color: black;
}
.form-label {
    padding-right: 50px;
}
.form-label-des {
    position: absolute;
    opacity: 1;
    top: -10px;
    display: block;
    transition: top 0.2s;
    color: gray;
}
.pDescription:focus ~ .form-label-des {
    position: absolute;
    opacity: 1;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: black      ;
    font-weight:700;    
}
.submit-container {
    border: 1px solid #ddd;
    padding: 7px 17px;
    font-size: 14px;
    font-weight: 700;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}
.submit-container:hover {
    background-color: #333;
    color: rgb(168, 164, 164);
}
.row {
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.col {
    width: 30%;
    padding: 15px;
    height: 10%;
    background-color: #ffffff;
    border-left: 7px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#monthRevenue {
    width: 30%;
    padding: 17px;
    height: 10%;
    background-color: #ffffff;
    border-left: 7px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.RevenueResults {
    padding-top: 5px;
    font-size: 23px;
    font-weight: bolder;
}
.OrderResults {
    padding-top: 5px;
    font-size: 22px;
    font-weight: bolder;
}
.RevenueResults {
    padding-top: 5px;
    font-size: 23px;
    font-weight: bolder;
}
.ProductResults {
    padding-top: 5px;
    font-size: 22px;
    font-weight: bolder;
}
.no-data {
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* chart */
.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 15px;
}
.charts-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
  }

  /* add table form */
  .closed-product-list {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    padding: 20px;
  }
  .closed-item-table {
    text-align: left;
    margin: 10px 30px;
  }
  table,tr,td,th { 
    border: 1px solid #ddd;
  }
/* modify-form */
.modify-form {
    margin: 30px 20px;
    display: none;
}
.modify-product-btn {
    padding: 0 15px;
    border-radius: 999px;
    border: 1px solid #ddd;
    margin: 5px 0;
    background: rgb(24, 144, 72);
    color: white;
    font-weight: 700;
}
/* delete item */
.product-list {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    padding: 20px;
}
.item-table {
    text-align: left;
    margin: 10px 30px;
}
table,tr,td,th { 
    border: 1px solid #ddd;
}
.product-actions {
    display: flex;
    justify-content: center;
}
.del-product-btn {
    padding: 0 15px;
    border-radius: 999px;
    border: 1px solid #ddd;
    margin: 5px 0;
    background: red;
    color: white;
    font-weight: 700;
}
.del-human-btn {
    padding: 0 15px;
    border-radius: 999px;
    border: 1px solid #ddd;
    margin: 5px 0;
    background: red;
    color: white;
    font-weight: 700;
}

/* delete modal */
.modal-container {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal-container-human {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal-delete {
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
    text-align: center;
}

.trash-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.attention {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.cancel,
.deleted {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.cancel {
    background-color: #ccc;
}

.deleted {
    background-color: #e74c3c;
    color: #fff;
}
