.product-body {
    display: flex;
    justify-content: space-evenly;
}

.product-img-collect {
    margin-left: 20px;

    overflow-y: scroll;

    max-height: auto;    

}
/* .product-img-collect::-webkit-scrollbar {
    display: none;
} */
.product-img {
    max-width: 850px;
}
.grid-img {
    max-width: 880px;
}
.grid-img-item {
    max-width: 416px;
    margin: 8px 12px 5px 0;
}
.product-information {
    margin: 20px 0;
    font-size: 18px;
}
.heading-text {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
    /* text-align: center; */
    letter-spacing: 0.2;
}
.texting {
    max-width: 450px;
    max-height: 200px;
}
.text-box {
    line-height: 24px;
    overflow: hidden;
    max-height: 40px;
    color: black;
}

.price {
    padding: 10px 5px;
    font-size: 25px;
    font-weight: 600;
}
.btn-selection {
    cursor: pointer;
    margin-top: 10px;
}
.add-cart, .buy_now {
    margin: 0 5px;
    padding: 15px 20px;
    position: relative;
    border: 1px solid #ddd;
    color: white;
    background-color: rgb(42, 41, 41);
    font-weight: 600;
    transition: background-color .3s ease;
    text-decoration: none;
}
.add-cart:hover, .buy_now:hover {
    color: rgb(18, 13, 13);
    background-color: transparent;
}
.wish-list-select {
    padding: 15px 20px;
    background-color: black;
    color: white;
    border: 1px solid #ddd;
    transition: background-color .3s ease;
    
}
.wish-list-select:hover {
    color: rgb(18, 13, 13);
    background-color: transparent;
    
}
.list-contact {
    list-style: none;
    padding-left: 0;
    
}
.space-small {
    height: 30px;
}
.contact-item {

}
.contact-item a {
    color: #484848;
    text-decoration: none;
    font-weight: 700;
    padding: 5px 0;
}
.contact-item .fa {
    padding-right:  10px;
}

.care {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
}
.care-left {
    margin-left: 80px;

}
.care-left p {
    font-size: 25px;
    width: 400px;
}
.discover-more {
    text-decoration: underline;
    color: #484848;
}

.care-right {
    max-width: 60%;
}
.display-img {
    max-width: 100%;
}

.delivery-section {
    display: flex;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
}

.delivery-gift {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    width: 60%;
    padding-right: 20px;
}
.gift-img {
    padding: 0;
    margin: 0;
    width: 510px;
    height: 400px;
}
.gift-infor {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding-left: 20px;
    font-size: 19px;
}
.gift-infor h4 {
    font-size: 24px;
}
.read-more {
    text-decoration: underline;
}

.delivery-shipping {
    background-color: #F2F2F2;
    margin: 0 10px;
    width: 48%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.delivery-detail {
    display: flex;
    flex-direction: column;
}
.delivery-detail h4 {
    font-size: 24px;
    font-weight: 700;
}
.delivery-detail p {
    width: 500px;
    font-size: 19px;
    padding: 5px 0;
}
.view-more {
    font-size: 19px;
}
.view-more-btn {
    cursor: pointer;
    padding-right: 30px;
}

.recommend-list {
    display: flex;
    justify-content: center;
}
.list-grid {
    display: flex;
}
.hover-img {
    cursor: pointer;
}
.pagination-image-product {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.buy-btn {
    display: block;
    margin: 0 10px;
    background-color:transparent;
    border: 1px solid transparent;
}
.btn-list {
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
}
.buy-now {
    padding: 16px 0;
    width: 50%;
    background-color: #423f3f;
    margin: 0 3px;
    color: black;
}
.buy-now:hover {
    color: white;
    background-color: #8a8888;
}