@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    margin: 10px 0;
}

.cartier {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.has-link {
    color: #1d1c1c;
    text-decoration: none;
    cursor: pointer;
}

/*header*/
.header {}

.header-notice {
    text-align: center;
}

.return-link {
    color: #1d1c1c;
    text-decoration: underline;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.nav-left {
    display: flex;
    padding-left: 0;
    justify-content: center;
}

.nav-left--item {
    padding: 10px 20px;
    list-style: none;
    font-size: 20px;
    position: relative;
    text-align: center;
}

.nav-hover {
    color: black;
}

.nav-hover:hover {
    color: rgb(78, 75, 75);

}

.nav-left--item::after {
    content: '';
    width: 1%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: bottom right;
    transition: width 1s;
}

.nav-left--item:hover::after {
    content: '';
    width: 100%;
    background-color: #1d1c1c;
}

.nav-right {
    display: flex;
    width: 14%;
}

.nav-right--item {
    padding: 10px 20px;

}

.nav-right--item .fa {
    outline-color: #1d1c1c;
    cursor: pointer;
}

.nav-right--item .fa:hover {
    color: red;
}

.sub-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.watch-collection--item {
    padding: 10px 20px;
    position: relative;
}

.watch-collection--item:hover {
    font-weight: 700;
    cursor: pointer;
}

.watch-collection--item::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 4px;
    transition: width .5s;
    left: 0;
    bottom: 0;

}

.watch-collection--item:hover::after {
    content: '';
    background-color: red;
    width: 80%;
}

.watch-collection--item-stand {
    width: 155px;
    font-weight: 700;
    padding: 10px 20px;
    position: relative;
    border-bottom: 4px red solid;
}

/*banner*/
.banner {
    display: flex;
    overflow: hidden;
    background-color: #F2F2F2;
    margin: 0 0;
    height: 200px;
    width: 100%;
}

.banner-introduction {
    font-size: 18px;
    background-color: #F2F2F2;
    padding: 10px 215px;
    height: 100px;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.intro-text {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 68%;
    text-align: center;
    line-height: 25px;
    letter-spacing: 0.6px;
}

.pagination-img {
    display: block;
    width: 80px;
    height: 68px;
    object-fit: scale-down;
    margin-left: auto;
    margin-right: auto;
}

/*body*/
.body {
    width: 92%;

}

.slidebar {
    font-size: 13px;
    width: 280px;
    padding-left: 12%;
    height: 100%;
}

.menu {
    list-style-type: none;
    padding: 0;
    float: left;
}

.menu-bt {
    padding: 10px 20px;
    cursor: pointer;
}

.menu-bt:hover {
    color: #F2F2F2;
    background-color: #000;
}

.bd-choose {

    padding-top: 24px;
    padding-bottom: 15px;
    outline: none;
}

.bd-content {
    margin-left: 420px;
}

.bd-content-field {
    padding-bottom: 120px;
    margin-left: 10%;
}

.bd-content-header {
    padding-left: 28%;
}

.bd-checkbox {
    margin-right: 52px;
    padding-left: 5px;
    width: 40%;
}

.input {
    width: 39%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.input-name {
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    outline: none;
    padding-right: 52%;
}

.pick {
    border-top: none;
    text-align: left;
    padding: 5px 57px 5px 0px;
    font-size: 14px;
    color: #5D646D;
}

.choose {
    width: 38%;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-right: 24%;
    font-size: 15px;
    color: #5D646D;
}

.tags {
    color: #5D646D;
}

.header-text {
    font-size: 14px;
    padding-bottom: 20px;
}

#passwordField {
    width: 98%;
    font-size: 16px;
    padding: 10px;
    border: none;
    outline: none;
}


.password {
    padding-top: 2px;
    border-bottom: 1px solid black;
    width: 35%;
}

/* footer */


.footer {
    display: flex;
    position: relative;
    justify-content: center;
}

.footer-list {
    width: 25%;
    padding: 10px 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}

.footer::before {
    content: '';
    width: 80%;
    height: 1px;
    top: -10px;
    background-color: #F2F2F2;
    position: absolute;
}

.hasnt-flex {
    display: inline-flex;
}

.footer-list--item {
    cursor: pointer;
}

.hasnt-flex .footer-list--item {
    transform: translateY(-26px);
}

.icon-link {
    padding-top: 20px;
}

.icon-link-item .fa {
    font-size: 26px;
    padding: 10px 10px;
}