<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Manager</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Logo_UIT_updated.svg/1200px-Logo_UIT_updated.svg.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/merchant.css">
</head>
<body>
    <div class="cartier">
         <!-- header start -->
        <div class="header">
            <div class="header-left-wrap">
                <div class="logo-merchant">
                    <img class="logo-img" src="/Public_FE/img/manager.png" alt="">
                </div>
                <button class="icon-bars">
                    <img class="bars-img" src="/Public_FE/img/bars.png" alt="">
                </button>
            </div>
            
            <div class="header-right-wrap">
               <p class="email-contact">
                    <i class="fa fa-phone"></i>
                    <span>Email for assistance : 
                        <strong>theuitersmerchant@gmail.com</strong>
                    </span>
               </p>
            </div>
        </div>
        <!-- header end -->

        <div class="main-content">
            <div class="main-left">
                <div class="input-space">
                    <div class="img-btn"><img class="span-search" src="/Public_FE/img/search.png" alt=""></div>
                    <input class="input-box" type="text" placeholder="Typing here ....">
                </div>
                <div class="selection">
                    <div class="select-click active">Dashboard</div>
                    <div class="select-click subpage-click">
                        Product Management
                        <ul class="subpage-product-appear">
                          <li class="subpage-product-item-click">Add product</li>  
                          <li class="subpage-product-item-click">Modify product</li>
                          <li class="subpage-product-item-click">Delete product</li>  
                        </ul>
                    </div>
                    <div class="select-click">Human Management</div>
                    <div class="select-click">Change payment method</div>
                    <div class="select-click">Setting</div>
                </div>
            </div>
            <div class="main-right">
               <div class="main-content">
                    <div class="select-container active">
                        <h3>Dashboard</h3>
                    </div>
                    <div class="select-container">
                        <div class="subpage-product-container">
                            <form action="">
                                <div class="add-product-container">
                                    <div class="product-input-show">
                                        <label for="pName" class="form-label"> Product Name </label>
                                        <input
                                          type="text"
                                          name="pName"
                                          id="pName"
                                          placeholder="Product Name"
                                          class="product-input-area"
                                        />
                                    </div>
                                    <div class="product-input-show">
                                        <label for="pPrice" class="form-label"> Price: </label>
                                        <input
                                          type="number"
                                          name="pPrice"
                                          id="pPrice"
                                          placeholder="Product Price"
                                          class="product-input-area"
                                        />
                                    </div>
                                    <label for="upload" class="form-label">
                                          Image product:
                                        <input type="file" name="upload" id="upload">
                                    </label>
                                </div>
                                <div>
                                    <button class="add-product-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="subpage-product-container">
                            <h3>Modify</h3>
                        </div>
                        <div class="subpage-product-container">
                            <h3>Delete</h3>
                        </div>
                    </div>
                    <div class="select-container">
                        <h3>Product</h3>
                    </div>
                    <div class="select-container">
                        <h3>Human</h3>
                    </div>
                    <div class="select-container">
                        <h3>Setting</h3>
                    </div>
               </div>
            </div>
        </div>
    </div>
</body>

<!-- apex chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.0/apexcharts.min.js"></script>
<!-- end chart -->
<script src="../../Resources_FE/javascript/merchant.js"></script>

</html>