<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Resources/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Public/icon/fontawesome-free-6.4.2-web/css/regular.min.css">


<body>
    <div class="cartier">
        <!-- header start -->
        <div class="header">
            <div class="header-notice">
                <p>Enjoy wrap-gift standard shipping. <span class=""><a class="has-link return-link">Click here to learn
                            more about returns and exchanges.</a></span></p>
            </div>

            <div class="main-header">
                <ul class="nav-left">
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Home</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Contact Us</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Services</a></li>
                </ul>

                <div class="logo">
                    <img class="logo-img" src="/Public_FE/img/Screenshot_2023-10-16_121457-removebg.png" alt="">
                </div>

                <div class="nav-right">
                    <div class="nav-right--item"><i class="fa fa-heart"></i></div>
                    <div class="nav-right--item"><i class="fa fa-user"></i></div>
                    <div class="nav-right--item"><i class="fa fa-cart-plus"></i></div>
                </div>
            </div>

            <div class="sub-navbar">
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
            </div>
        </div>
        <!-- header end -->
        <!--body-->
        <div class="body">
            <div class="slidebar">
                <h3>MY UITER</h3>
                <ul class="menu">
                    <li class="watch-collection--item"><a href="" class="has-link">OVERVIEW</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY PROFILE</a></li>
                    <li class="watch-collection--item-stand"><a href="" class="has-link">MY PASSWORD</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY ORDERS</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY WISH LIST</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY ADDRESSES</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY COLLECTION</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY SUBSCRIPTIONS & INTERESTS</a></li>
                    <li class=""><button class="menu-bt">LOG OUT</button></li>
                </ul>
            </div>
            <div class="bd-content">
                <div class="banner">
                    <div class="banner-introduction">
                        <img class="pagination-img" src="/Public/img/leather.png" alt="">
                        <h5>MY PASSWORD</h5>
                        <div>Manage your password and security preferences.</div>
                    </div>
                </div>
                <div class="bd-content-field">
                    <div class="password">
                        <input type="password" id="passwordField" minlength="8" placeholder="Current Password">
                    </div>
                    <ul>
                        <li>No repetition of more than two characters</li>
                        <li>One number</li>
                        <li>At least 1 allowed special character(s) from ~!@#$%^&*_ /-+=`</li>
                        <li>One lowercase character</li>
                        <li>One uppercase character</li>
                        <li>8 characters minimum</li>
                    </ul>
                    <div class="password">
                        <input type="password" id="passwordField" placeholder="Newpassword">

                    </div>
                    <div class="password">
                        <input type="password" id="passwordField" placeholder="Confirm Password">
                    </div>
                    <div class="save">
                        <button class="menu-bt">SAVE</button>
                    </div>
                </div>
            </div>
            <!-- footer start -->
            <div class="footer">
                <ul class="footer-list">
                    <li class="footer-list--item">
                        <h3>CUSTOMER CARE</h3>
                    </li>
                    <li class="footer-list--item">Contact Us</li>
                    <li class="footer-list--item">Call Now : 800 227 8437</li>
                    <li class="footer-list--item">FAQ</li>
                    <li class="footer-list--item"> TRACK YOUR ORDER</li>
                </ul>
                <ul class="footer-list">
                    <li class="footer-list--item">
                        <h3>CUSTOMER CARE</h3>
                    </li>
                    <li class="footer-list--item">Contact Us</li>
                    <li class="footer-list--item">Call Now : 800 227 8437</li>
                    <li class="footer-list--item">FAQ</li>
                    <li class="footer-list--item"> TRACK YOUR ORDER</li>
                </ul>
                <ul class="footer-list">
                    <li class="footer-list--item">
                        <h3>CUSTOMER CARE</h3>
                    </li>
                    <li class="footer-list--item">Contact Us</li>
                    <li class="footer-list--item">Call Now : 800 227 8437</li>
                    <li class="footer-list--item">FAQ</li>
                    <li class="footer-list--item"> TRACK YOUR ORDER</li>
                </ul>
                <div class="footer-list hasnt-flex">
                    <h3 class="footer-list--item">FOLLOW US</h3>
                    <div class="icon-link">
                        <a href="" class="footer-list--item icon-link-item"><i class="fa fa-facebook-f"></i></a>
                        <a href="" class="footer-list--item icon-link-item"><i class="fa fa-youtube-play"></i></a>
                        <a href="" class="footer-list--item icon-link-item"><i class="fa fa-instagram"></i></a>
                        <a href="" class="footer-list--item icon-link-item"><i class="fa fa-twitter"></i></a>

                    </div>
                </div>
            </div>
            <!-- footer end -->
        </div>
</body>
<script src="/Resources/javascript/user.js"></script>

</html>