<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/Resources/css/user.css
    ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="cartier">
        <!-- header start -->
        <div class="header">
            <div class="header-notice">
                <p>Enjoy wrap-gift standard shipping. <span class=""><a class="has-link return-link">Click here to learn
                            more about returns and exchanges.</a></span></p>
            </div>

            <div class="main-header">
                <ul class="nav-left">
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Home</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Contact Us</a></li>
                    <li class="nav-left--item"><a href="" class="has-link nav-hover">Services</a></li>
                </ul>

                <div class="logo">
                    <img class="logo-img" src="/Public_FE/img/Screenshot_2023-10-16_121457-removebg.png" alt="">
                </div>

                <div class="nav-right">
                    <div class="nav-right--item"><i class="fa fa-heart"></i></div>
                    <div class="nav-right--item"><i class="fa fa-user"></i></div>
                    <div class="nav-right--item"><i class="fa fa-cart-plus"></i></div>
                </div>
            </div>

            <div class="sub-navbar">
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
                <div class="watch-collection--item">Colect</div>
            </div>

        </div>
        <!-- header end -->
        <!--welcom-->
        <div class="bd-content">
            <div class="banner">
                <div class="banner-introduction">
                    <img class="pagination-img" src="/Public/img/leather.png" alt="">
                    <h5>WELCOME</h5>
                    <div>Manage your personal data and the newsletter subscription.</div>
                </div>
            </div>
        </div>
        <!--body-->
        <div class="body">
            <div class="slidebar">
                <h3>MY UITER</h3>
                <ul class="menu">
                    <li class="watch-collection--item-stand"><a href="" class="has-link">OVERVIEW</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY PROFILE</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY PASSWORD</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY ORDERS</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY WISH LIST</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY ADDRESSES</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY COLLECTION</a></li>
                    <li class="watch-collection--item"><a href="" class="has-link">MY SUBSCRIPTIONS & INTERESTS</a></li>
                    <li class="watch-collection--item"><button class="menu-bt">LOG OUT</button></li>
                </ul>
            </div>

            <div class="grid-container">
                <div class="grid-item">
                    <h5 class="content">MY PROFILE</h5>
                    <div class="content">Uiter</div>
                    <div class="content">gmail</div>
                </div>
                <div class="grid-item">
                    <h5 class="content">MY ORDERS</h5>
                    <div class="content">You have not previously ordered as a registered customer.</div>
                </div>
                <div class="grid-item">
                    <h5 class="content">MY WISH LIST</h5>
                    <div class="content">Your Wish List is empty.</div>
                </div>
                <div class="grid-item">
                    <h5 class="content">MY ADDRESSES</h5>
                    <div class="content">Default Address</div>
                    <div><a href="" class="content">View all addresses</a></div>
                </div>
            </div>
        </div>

        <!-- footer start -->
        <div class="footer">
            <ul class="footer-list">
                <li class="footer-list--item">
                    <h3>CUSTOMER CARE</h3>
                </li>
                <li class="footer-list--item">Contact Us</li>
                <li class="footer-list--item">Call Now : 800 227 8437</li>
                <li class="footer-list--item">FAQ</li>
                <li class="footer-list--item"> TRACK YOUR ORDER</li>
            </ul>
            <ul class="footer-list">
                <li class="footer-list--item">
                    <h3>CUSTOMER CARE</h3>
                </li>
                <li class="footer-list--item">Contact Us</li>
                <li class="footer-list--item">Call Now : 800 227 8437</li>
                <li class="footer-list--item">FAQ</li>
                <li class="footer-list--item"> TRACK YOUR ORDER</li>
            </ul>
            <ul class="footer-list">
                <li class="footer-list--item">
                    <h3>CUSTOMER CARE</h3>
                </li>
                <li class="footer-list--item">Contact Us</li>
                <li class="footer-list--item">Call Now : 800 227 8437</li>
                <li class="footer-list--item">FAQ</li>
                <li class="footer-list--item"> TRACK YOUR ORDER</li>
            </ul>
            <div class="footer-list hasnt-flex">
                <h3 class="footer-list--item">FOLLOW US</h3>
                <div class="icon-link">
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-facebook-f"></i></a>
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-youtube-play"></i></a>
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-instagram"></i></a>
                    <a href="" class="footer-list--item icon-link-item"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <!-- footer end -->
    </div>
</body>

</html>