@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    margin:  10px 0;
}

.grid_col3 {
    width: 30%;
}

.cartier {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.has-link {
    color: #1d1c1c;
    text-decoration: none;
    cursor: pointer;
}

.header {
    
}
.header-notice{
    text-align: center;
}
.return-link {
    color: #1d1c1c;
    text-decoration: underline;
}
.main-header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.nav-left {
    display: flex;
    padding-left: 0;
    justify-content: center;
}   
.nav-left--item{ 
    padding: 10px 20px;
    list-style: none;
    font-size: 20px;
    position: relative;
    text-align: center;
}
.nav-hover {
    color: black;
}
.nav-hover:hover {
    color: rgb(78, 75, 75);
     
}
.nav-left--item::after {
    content: '';
    width: 1%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: bottom right;
    transition: width 1s;
}
.nav-left--item:hover::after {
    content: '';
    width: 100%;
    background-color: #1d1c1c;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}
.logo-img {
    max-height: 50px;
}
.nav-right {
    display: flex;
    width: 14%;
}
.nav-right--item {
    padding: 10px 20px;

}
.nav-right--item .fa {
    outline-color: #1d1c1c;
    cursor: pointer;
}
.nav-right--item .fa:hover  {
    color: red;
}

.sub-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.watch-collection--item {
    padding: 10px 20px;
    position: relative;
}
.watch-collection--item:hover {
    font-weight: 700;
    cursor: pointer;
}
.watch-collection--item::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 4px;
    transition: width .5s;
    left: 0;
    bottom: 0;

}
.watch-collection--item:hover::after { 
    content: '';
    background-color: red;
    width: 80%;
}

/* content */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 76px 0;
}

.content_heading {
    letter-spacing: 0.025rem;
    font-weight: 600;
    margin-bottom: 1.125rem;
}

.content_label {
    font-weight: 300;
    color: #8c8c8c;
    margin-bottom: 0.25rem;
}

#countries {
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* contact-list */
.contact-list {
    display: flex;
    flex-wrap: wrap;
}

.contact-list_choice {
    padding-right: 16px;
    padding-left: 16px;
}

.contact-list_choice-heading {
    letter-spacing: 0.025rem;
    font-size: 16px;
    font-weight: 600;
}

.contact-list_choice-content {
    color: #1d1c1c;
    font-weight: 400;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    color: #1d1c1c;
    
}

.contact-list_choice-link {
    /* text-decoration: none; */
}

.contact-list_choice-link:hover {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: width 3s;
}

.contact-list_choice-link::after {
    content: '';
    width: 1%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: bottom right;
    transition: width 1s;
}

.contact-list_choice-link:hover::after {
    content: '';
    width: 100%;
    background-color: #1d1c1c;
}

.js-send-email {
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid #000;
}

.js-send-email:hover {
    cursor: pointer;
    border-bottom: none;
}


/* banner */
.banner {
    display: flex;
    overflow: hidden;
    width: 100%;
    background-color: #F2F2F2;
    margin: 0 0;
    height: 334px;
}
.banner-img-link {
    max-width: 750px;
    height: 336px;
    margin-top: -10px;
}
.banner-introduction {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-text {
    margin-left: 20%;
    max-width: 68%;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0.6px;
}


/* footer */

.footer {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}
.footer-list {
    width: 25%;
    padding: 10px 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}
.footer::before {
    content: '';
    width: 80%;
    height: 1px;
    top: -10px;
    background-color: #F2F2F2;
    position: absolute;
}
.hasnt-flex {
    display: inline-flex;
}
.footer-list--item {
    cursor: pointer;
}
.hasnt-flex .footer-list--item {
    transform: translateY(-26px);
}
.icon-link {
    padding-top: 20px;
}
.icon-link-item .fa {
    font-size: 26px;
    padding: 10px 10px;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* overflow: scroll; */
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 800px;
    /* max-width: calc(100%-32px); */
    /* min-height: 200px; */
    height: 550px;
    position: relative;
    animation: modalFadeIn ease 0.3s;
    overflow: scroll;
}

.modal_header {
    padding: 16px 0;
    border-bottom: 1px solid #a5a5a5;
    margin: 0 20px;
    border-top: 6px solid #000;
}

.modal_close {
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    cursor: pointer;
    opacity: 0.8;
    /* transform: translateY(-12px); */
    padding-right: 8px;
}

.modal_header {
    height: 80px;
    text-align: center;
}

.modal_body {
    padding: 20px 200px;
}

#modal_form {

}

#form-label {
    color: rgba(0, 0, 0, 0.5);
    float: inline-end;
    transform: translateY(-20px);
}

#gender-label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

/* #modal-gender {
    display: flex;
    justify-content: space-between;
} */

#mrs, #miss, #mx {
    margin-left: 32px;
}

#information {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a5a5a5;
    color: rgba(0, 0, 0, 0.4);
    width: 400px;
    margin: 16px 0;
    padding: 8px 0;
}

#form-reason {
    width: 400px;
    padding: 8px 0;
    margin: 16px 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

#message-label {
    color: rgba(0, 0, 0, 0.4);
}

#message {
    width: 400px;
    height: 150px;
}

#term {
    margin-right: 8px;
}

.modal-btn {
    transform: translateX(350px);
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border: none;

}

.modal-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

.open {
    display: flex;
}